.countryWrapper {
    width: 100%;
}

.content {
    padding: 20px 15%;
    font-size: 20px;
}

.countryInfoContainer {
    display: flex;
    align-items: center;
}

.card {
    position: relative;
}

.infoContainer {
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    padding: 10px 25px 10px 10px;;
}

.countryContainer {
    padding: 10px;
}

.swiperSlideContainer {
    padding: 0 100px;
}