.searchWrapper {
  position: relative;
  width: 360px;
  height: 50px;
}

.searchImg {
  position: absolute;
  top: 50%;
  right: -65px;
  transform: translateY(-50%);
  width: 35px;
  cursor: pointer;
}

.removeImg {
  display: none;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 15px;
  cursor: pointer;
}