.ratingList {
  display: flex ;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
}

.userRating {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}