.header {
  position: relative;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 70%;
  min-height: 65px;
  margin: 0 auto;
  padding: 0 30px;
  border-bottom: 3px solid #fff;
  z-index: 10;
}

.headerTopMask {
  position: absolute;
  width: 100%;
  height: 65px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(128, 128, 128, 0) 100%
  );
  opacity: 0.7;
}

.headerIcon {
  fill: #fff;
}

.headerIcon:hover {
  outline: 1px solid black;
}

.headerTextWrapper {
  position: absolute;
  top: 30%;
  left: 5%;
  min-width: 600px;
  color: #fff;
}

.headerRightWrapper {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-size: 5rem;
  font-family: "Cuprum", sans-serif;
}

.headerSlogan {
  font-size: 2.8rem;
  font-family: "Lobster", cursive;
}

@media screen and (max-width: 800px) {
  .headerTitle {
    font-size: 3rem;

  }

  .headerSlogan {
    font-size: 1.8rem;

  }
}
